.diff-viewer {
    overflow-x: auto;
}

.diff-files-holder {
    max-width: 100% !important;
}

.diff-viewer > table td.line_content {
    min-width: 1100px !important;
}

.code.white .err {
    color: inherit !important;
    background-color: inherit !important;
}
